@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .active-link {
        @apply text-primary border-b border-primary
    }
    .inactive-link {
        @apply border-b border-transparent
    }
    .pending {
        color: red;
    }
}

.not-found-search {
    background-image: url('https://static.vecteezy.com/system/resources/previews/007/104/553/original/search-no-result-not-found-concept-illustration-flat-design-eps10-modern-graphic-element-for-landing-page-empty-state-ui-infographic-icon-vector.jpg');
    background-size: contain;
    background-position: right bottom;
    background-repeat: no-repeat; ;
}